receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
        auth: 
          authenticator: bearertokenauth/withscheme

extensions:
  bearertokenauth/withscheme:
    scheme: "Bearer"
    token: "hello"

processors:
exporters:
  awscloudwatchlogs:
    log_group_name: "/ecs/otel"
    log_stream_name: "tastecard/logs"
    log_retention: 30
    region: "us-east-1"
    sending_queue:
      enabled: true

  debug:
    verbosity: detailed
    sampling_initial: 5
    sampling_thereafter: 200

service:
  extensions: [ bearertokenauth/withscheme]
  telemetry:
    logs:
  pipelines:
    logs:
      receivers: [otlp]
      processors: []
      exporters: [ debugawscloudwatchlogs]
